.root {
	margin: 0 1rem 1rem 0;
	background: black;
	color: rgba(255, 255, 255, 1);
	border-radius: 2px;
	padding: 1rem;
	text-transform: uppercase;
	transition: transform 0.25s;
}

.root:hover {
	transform: translateY(-10px);
}
